{{!< default}}
<section class="cover cover-404">
  <div class="cover-triangle">
  </div>
  <div class="cover-logo">
    <img src="{{@blog.logo}}"
      class="img-responsive"/>
  </div>
  <div class="cover-triangle-header-404">

  </div>
  <div class="cover-triangle-footer-404">

  </div>
  <div class="cover-image-404">
    <div class="logo-header">
      <img src="{{asset 'img/icono_cima_gris.png'}}"
        class="img-responsive"/>
    </div>
    <div class="text-header">
      <span>error</span>
    </div>
    <div class="image-content">
      <img src="{{asset 'img/404.png'}}"
        class="img-responsive"/>
    </div>
    <div class="text-footer">
      <span>página no encontrada</span>
    </div>
    <div class="button-back">
      <a class="btn btn-primary" href="{{@blog.url}}">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        volver
      </a>
    </div>
  </div>
</section>
