{{!< default}}
<section>
  {{> cover-page}}
  {{> body-title title="Blog"}}
  <div class="blog-content-section">
    <div class="container">
      {{> navigation-blog}}

      <div class="row">
        {{#foreach posts}}
          {{> blog-post}}
        {{/foreach}}
      </div>
      {{pagination}}
    </div>
  </div>
  {{> main-phrase }}
</section>
