<div class="categories-content-posts collapse" id="category-{{@number}}">
  {{#get "posts" filter="tag:cima-categoria-{{slug}}" as |nested|}}
    {{#foreach nested}}
      <h4 class="nested-title">{{title}}</h4>
    {{/foreach}}
  {{/get}}
</div>
