<section class="cover">
  <div class="cover-triangle">
  </div>
  <div class="cover-logo">
    <img src="{{asset 'img/logo-temp.png'}}"
      class="img-responsive"/>
  </div>
  <img src="{{asset 'img/cover.jpg'}}"
    class="img-responsive"/>
</section>
