<section class="cover">
  <div class="cover-triangle">
    <div class="logo-image-wrapper">
      <img src="{{@blog.logo}}"
           class="img-responsive logo-image" />
    </div>
  </div>
  {{#is "index"}}
    {{> cover-carousel}}
  {{else}}
    {{> cover-image}}
  {{/is}}
</section>
