<footer>
  {{#get "posts" filter="slug:logo-footer" as |logo|}}
    {{#logo}}
      <div class="logo-footer">
        <img src="{{image}}" class="img-responsive" />
      </div>

      {{> navigation-inferior}}

      <div class="footer-legend">
        <div class="credits">powered by noggalito</div>

        <h5>{{content}}</h5>
      </div>
    {{/logo}}
  {{/get}}
</footer>
