<div class="img-responsive informative-section">
  <div class="information-cima">
    {{#get "posts" filter="slug:informacion" as |informationPosts|}}
      {{#foreach informationPosts}}
        <div class="title section-informative">
          <div>{{title}}</div>
        </div>
        <div class="content-informative">{{content}}</div>
      {{/foreach}}
    {{/get}}
    {{> "follow-us"}}
  </div>
</div>
