<div class="menuSuperior navbar-content">
    <nav class="navbar navbar-default headerNavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="item-mobile  ">
            <a class="menuItem-mobile visible-xs" href="/">Inicio</a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-cima-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-cima-collapse">
          <ul class="nav navbar-nav navbar-list">
            {{#foreach navigation}}
              <li class="{{#if current}} nav-current{{/if}}">
                <a class="navbar-menuItem" href="{{url absolute="true"}}">{{label}}</a>
              </li>
            {{/foreach}}
          </ul>
        </div>
      </div>
    </nav>
</div>
