<div class="menuInferior navbar-content-inferior">
    <nav class="navbar navbar-default footerNavbar hidden-xs">
      <div class="container-fluid col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="collapse navbar-collapse" id="navbar-cima-collapse">
          <ul class="nav navbar-nav navbar-list-inferior">
            {{navigation}}
          </ul>
        </div>
      </div>
    </nav>
</div>
