<div class="redes-sociales">
  <h3 class="textFooter-title">Síguenos:</h3>
  <a href="#" class="thumbnail sn">
    <img src="{{asset 'img/icono_face.png'}}" alt="facebook">
  </a>
  <a href="#" class="thumbnail sn">
    <img src="{{asset 'img/icono_rss.png'}}" alt="rss">
  </a>
  <a href="#" class="thumbnail sn">
    <img src="{{asset 'img/icono_twitter.png'}}" alt="twitter">
  </a>
</div>
