<div class="recent-posts">
  <div class="divider">
    <h2>Posts recientes</h2>
  </div>
  {{#get "posts" limit="2" include="tags" filter="tag:blog+id:-{{id}}" order="published_at desc" as |posts|}}
    {{#foreach posts}}
      <a class="col-sm-5 col-xs-10 recent-post" href="{{url}}">
        <div class="img-responsive"
             style="background-image: url('{{image}}');"></div>
        <div class="title">{{title}}</div>
      </a>
      <div class="col-sm-1 col-xs-2"></div>
    {{/foreach}}
  {{/get}}
</div>
